{
  "mysql": {
    "password": "PASSWORD",
    "host": "HOST",
    "user": "USER",
    "database": "DATABASE",
    "port": "PORT"
    "socketpath": "SOCKETPATH"
  },
  "general": {
    "jwt_expiration": "30",
    "jwt_secret": "some_secret"
  },
}
